@model CountryListViewModel
@{
    ViewData["Title"] = "Olympic Games";
}
<div class="row">
    <div class="col-sm-3">
        <h3 class="mt-3">Game</h3>
        <div class="list-group">
            @foreach (Game gm in Model.Games)
            {
                <a asp-action="Index"
               asp-route-activeGm="@gm.GameID"
               asp-route-activeCtgy="@Model.ActiveCtgy"
               class="list-group-item
                       @Model.CheckActiveGm(gm.GameID)">@gm.Name</a>
            }
        </div>
        <h3 class="mt-3">Category</h3>
        <div class="list-group">
            @foreach (Category ctgy in Model.Categories)
            {
                <a asp-action="Index"
               asp-route-activeGm="@Model.ActiveGm"
               asp-route-activeCtgy="@ctgy.CategoryID"
               class="list-group-item
                       @Model.CheckActiveCtgy(ctgy.CategoryID)">@ctgy.Name</a>
            }
        </div>
    </div>
    <div class="col-sm-9">
        <ul class="list-inline">
            @foreach (Country country in Model.Countries)
            {
                <li class="list-inline-item">
                    <a asp-action="Details" asp-route-id="@country.CountryID">
                        <img src="@country.LogoImage" alt="@country.Name"
                         title="@country.Name | @country.Game.Name
                                                     @country.Category.Name" />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
