@model IEnumerable<Tickets>
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Filter" method="post">
            <div class="form-group">
                <label>Status:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Statuses,
                    "StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>
        </form>
    </div>
    <div class="col-sm-10">

        <a asp-action="Add"><b>Add new ticket</b></a>

        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Sprint</th>
                    <th>Status</th>
                    <th class="w-25"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (Tickets ticket in Model)
            {
                <tr>
                    <td>@ticket.Name</td>
                    <td>@ticket.Description</td>
                    <td>@ticket.Sprint</td>
                    <td>
                        <form asp-action="Edit" method="post" 
                              asp-route-id="@ViewBag.Filters.FilterString" 
                              class="mr-2">
                            <input type="hidden" 
                                   name="@nameof(Tickets.Id)" value="@ticket.Id" />

                            <button type="submit" 
                                    name="@nameof(Tickets.StatusId)" value="To do"
                                    class="btn btn-primary btn-sm">todo
                            </button>
                            <button type="submit" 
                                    name="@nameof(Tickets.StatusId)" value="In progress"
                                    class="btn btn-primary btn-sm">inprogress
                            </button>
                            <button type="submit" 
                                    name="@nameof(Tickets.StatusId)" value="Quality assurance(qa)"
                                    class="btn btn-primary btn-sm">qualityassurance
                            </button>
                             <button type="submit" 
                                    name="@nameof(Tickets.StatusId)" value="Done"
                                    class="btn btn-primary btn-sm">done
                            </button>
                            <button type="submit" 
                                    class="btn btn-primary btn-sm">Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>